<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p><%= comment %> </p>
    <p>- <%= username %></p>
    <a href="/comments/<%= id %>/edit ">Edit</a>
    <a href="/comments">Go back to all coments</a>

    <form method='POST' action="/comments/<%= id %>?_method=DELETE">
        <button>Delete comment</button>
    </form>
</body>

</html>